<!--
	The Head
-->

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	{% if page.layout == 'home' or page.layout == 'post' %}
		<meta name="pv-cache-enabled" content="{{ site.google_analytics.pv.enabled }}">

		{% if site.google_analytics.pv.enabled %}
			{% if site.google_analytics.pv.proxy_endpoint != ''
				and site.google_analytics.pv.proxy_endpoint %}
				<meta name="pv-proxy-endpoint" content="{{ site.google_analytics.pv.proxy_endpoint }}">
			{% endif %}

			{% if site.google_analytics.pv.cache %}
				<meta name="pv-cache-data" content="{{ '/assets/js/data/pageviews.json' | relative_url }}">
			{% endif %}

		{% endif %}
	{% endif %}

	{% seo title=false %}

	<title>
	{%- unless page.layout == "home" -%}
		{{ page.title | append: " | "}}
	{%- endunless -%}
		{{ site.title }}
	</title>

	{% include favicons.html %}

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
	<link rel="dns-prefetch" href="https://fonts.gstatic.com">

	<!-- GA -->
	{% if jekyll.environment == 'production' %}
		<link rel="preconnect" href="https://www.google-analytics.com" crossorigin="use-credentials">
		<link rel="dns-prefetch" href="https://www.google-analytics.com">

		<link rel="preconnect" href="https://www.googletagmanager.com" crossorigin="anonymous">
		<link rel="dns-prefetch" href="https://www.googletagmanager.com">

		{% if site.google_analytics.pv.proxy_url and site.google_analytics.pv.enabled %}
			<link rel="preconnect" href="{{ site.google_analytics.pv.proxy_url }}" crossorigin="use-credentials">
			<link rel="dns-prefetch" href="{{ site.google_analytics.pv.proxy_url }}">
		{% endif %}
	{% endif %}

	<!-- jsDelivr CDN -->
	<link rel="preconnect" href="cdn.jsdelivr.net">
	<link rel="dns-prefetch" href="cdn.jsdelivr.net">

	<!-- Bootstrap -->
	<link rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha256-LA89z+k9fjgMKQ/kq4OO2Mrf8VltYml/VES+Rg0fh20=" crossorigin="anonymous">

	<!-- Font Awesome -->
	<link rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.11.2/css/all.min.css"
		integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ="
		crossorigin="anonymous">

	{% include css-selector.html %}

	<!-- JavaScripts -->

	<script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>

	<script defer
		src="https://cdn.jsdelivr.net/combine/npm/popper.js@1.15.0,npm/bootstrap@4/dist/js/bootstrap.min.js"></script>

	{% include js-selector.html %}

	<!-- KaTeX -->
	{% if page.katex %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.0/dist/katex.min.css"
		integrity="sha384-t5CR+zwDAROtph0PXGte6ia8heboACF9R5l/DiY+WZ3P2lxNgvJkQk5n7GPvLMYw" crossorigin="anonymous">
	{% endif %}

</head>
