<!-- Bibliography -->
	{% if page.citedrefs %}
	<h2 id="references">References</h2>

	{% bibliography --cited %}
{% endif %}

{% if page.refs %}
	<h2 id="references">References</h2>

	{% bibliography %}
{% endif %}