---
layout: default
# The page layout
---

<div class="row">
	<div class="col-12 col-lg-11 col-xl-8">
		<div id="page" class="post pb-5 pl-1 pr-1 pl-sm-2 pr-sm-2 pl-md-4 pr-md-4 mb-md-4">
		{% if page.dynamic_title %}
			<h1 class="dynamic-title">{{ page.title }}</h1>
			<div class="post-content">
				{{ content }}

				{% include scholar-refs.html %}
			</div>
		{% else %}
			{{ content }}

			{% include scholar-refs.html %}
		{% endif %}
		</div> <!-- #page -->
	</div><!-- .col-12 -->

	{% include panel.html %}

</div>

{% if site.disqus.comments and page.comments %}
<div class="row">
	<div class="col-12 col-lg-11 col-xl-8">
		<div class="pl-1 pr-1 pl-sm-2 pr-sm-2 pl-md-4 pr-md-4">

		{% include disqus.html %}

		</div> <!-- .pl-1 pr-1 -->
	</div> <!-- .col-12 -->
</div> <!-- .row -->
{% endif %}
